.alert-error {
	background-color: #F44336;
	color: #fff;
}
.notification {
	display: none;
}
@media (min-width: 1280px) {
	#footer.footer-alt {
		padding-left: 0;
	}
}
.lcb-navigation a[data-ma-block="#l-activation"]:hover {
	width: 105px;
}
.lcb-navigation a[data-ma-block="#l-backtohome"]:hover {
	width: 125px;
}